.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.main{
  margin: 100px 50px;
  text-align: center;
}
.main h1{
  font-size: 4em;
  letter-spacing: 1px;
  font-weight: 400;
}